extends base.pug

block scripts
    script(src='/static/index.js')
block style   
    style
      include ../static/style.css  
block content
    section#introSection 
            | section for picture 
    section#sponsorSection 
            | section for sponsor       